@import '../../styles/functions.scss';
@import '../../styles/mixins.scss';

.title {
  color: var(--color-black);
}

.h1 {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.h2 {
  font-size: size(48px);
  line-height: size(62px);
  text-transform: uppercase;

  @include vp-767 {
    width: 80%;
    font-size: 24px;
    line-height: 31px;
  }
}

.h3 {
  font-size: size(48px);
  line-height: size(54px);

  @include vp-767 {
    font-size: 24px;
    line-height: 29px;
  }
}
