@import '../../styles/functions.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: size(110px);
  padding-bottom: size(75px);
  min-height: 100vh;
  background-color: var(--color-white);
}

.title {
  margin-bottom: size(126px);
}

.card {
  &:not(:last-child) {
    margin-bottom: size(100px);
  }
}

.section {
  // margin-bottom: size(154px);

  padding: size(85px) 0;
}

.gallerySection {
  padding-top: size(69px);
  padding-bottom: size(67px);
}
