@import '../../styles/mixins.scss';
@import '../../styles/functions.scss';

.header {
  position: sticky;
  top: 0;
  background: linear-gradient(0deg, #464341 0%, #010101 100%);

  font-size: size(19px);
  padding: size(32px);
  color: var(--color-white);
  z-index: 10;

  @include vp-767 {
    padding: 18px 0;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: size(214px);
  height: size(36px);

  @include vp-767 {
    width: 119px;
    height: 21px;
  }
}

.phoneLink {
  font-size: size(24px);
  line-height: size(33px);
  color: var(--color-white);
}

.phoneText {
  @include vp-767 {
    display: none;
  }
}

.phoneLink {
  display: none;
  color: var(--color-white);

  @include vp-767 {
    display: block;
  }
}
