@import '../../styles/functions.scss';
@import '../../styles/mixins.scss';

.container {
  position: sticky;
  top: size(200px);
  left: 0;
  right: 0;
  will-change: transform;

  @include vp-767 {
    top: 100px;
  }
}

.title {
  margin-bottom: size(127px);

  @include vp-767 {
    margin-bottom: 58px;
  }
}

.ghost {
  @include vp-767 {
    display: none;
  }
}

.galleryWrapper {
  @include vp-767 {
    display: none;
  }
}

.list {
  position: relative;
  display: flex;
  width: max-content;
  list-style: none;
  padding: 0 size(269px);

  @include vp-1439 {
    padding: 0 100px;
  }

  @include vp-1023 {
    padding: 0 20px;
  }

  @include vp-767 {
    padding: 0 20px;
  }
}

.item {
  position: relative;

  width: size(320px);
  height: size(489px);

  @include vp-767 {
    width: 225px;
    height: 344px;
  }

  &:not(:last-child) {
    margin-right: size(40px);
  }
}