@import '../../styles/functions.scss';
@import '../../styles/mixins.scss';

.container {
  position: sticky;
  top: size(200px);
  left: 0;
  right: 0;
  will-change: transform;

  @include vp-767 {
    top: 100px;
  }
}

.title {
  margin-bottom: size(127px);

  @include vp-767 {
    margin-bottom: 58px;
  }
}

.ghost {
  width: 100vw;
}

.list {
  position: relative;
  display: flex;
  width: max-content;
  list-style: none;
  padding: 0 size(269px);

  @include vp-1439 {
    padding: 0 100px;
  }

  @include vp-1023 {
    padding: 0 20px;
  }

  @include vp-767 {
    padding: 0 20px;
  }
}

.item {
  position: relative;

  width: size(320px);
  height: size(489px);

  @include vp-767 {
    width: 225px;
    height: 344px;
  }

  &:not(:last-child) {
    margin-right: size(40px);
  }
}

// .thumbnails-container {
//   position: relative;
//   height: 100vh;
//   width: max-content;
//   display: flex;
//   align-items: center;
//   padding: 0px 160px;
//   background-color: $black;
//   border: 40px solid $yellowGreen;

//   .thumbnails {
//     position: relative;
//     display: flex;
//     border: 20px solid $yellow;

//     & > *:not(:last-child) {
//       margin-right: 45px;
//     }

//     .thumbnail {
//       height: 40vh;
//       width: 700px;
//       background-color: $royalblue;
//       border: 15px solid magenta;
//     }
//   }
// }
