@import '../../styles/functions.scss';
@import '../../styles/mixins.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: size(200px);
  padding-bottom: size(27px);
  background-color: var(--color-black);
  color: var(--color-white);

  font-size: size(14px);
  line-height: size(16px);

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;
  }
}
